body {
    background-color: #bd006c;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 100%
}